.navbar {
    display: flex;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    list-style: none;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar .navbar-right {
	margin-left: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #555;
}
